<p><img src="http://0.gravatar.com/userimage/21625238/ca3745aeedbd991a4e97c9491299cf36" alt="@basav" title="Follow me on Twitter @basav" /></p>
<p>My name is Basav Nagur. I am a father, husband and a Software Engineer - in that order. My titles keep changing - Programmer, Architect, Solution Architect and at present - Software Architect,</p>
<br/>	  		  
<p><a href="https://twitter.com/basav" class="twitter-follow-button btn btn-mini" data-show-count="false">Follow @basav</a> &nbsp; <a href="https://twitter.com/share" class="twitter-share-button" data-via="basav">Tweet</a></p>
<p> 
<a href="https://github.com/basav/Feedback/issues/new" target="_blank">Leave me feedback</a></p>	
  