---
layout: post
title: Quality Education for Everybody
category: general
tags: general
year: 
month: 
day: 
published: true
summary: How Coursera is making difference in online education...
---

<div class="row">
	<div class="span3 columns well">
	  <h3>About this topic</h3>
	  <p>Coursera and other online platforms are providing quality education for free for the needful. Classrooms have come to the doorstep and have made the learning a wonderful experience with awesome content</p>	  
	  <br/>
	  <h3>Topic buzz</h3>
	  <p>What others are thinking. Add to the conversation and generate some chatter.</p>
	  <p><a href="https://twitter.com/share" class="twitter-share-button" data-via="basav">Tweet</a></p>
	  <p><g:plusone size="medium"></g:plusone></p>
	  <br/>
	  <h3>Read later</h3>
	  <p>Save this article for a later read or point of reference. <a href="http://www.instapaper.com/hello2?url=http://basav.github.com{{ page.url }}&title={{ page.title }}" title="Save {{ page.title }} to Instapaper" target="_blank">+Instapaper</a> </p>
	  <br/>  
	</div>	
	<div class="span8 columns">
	 	<p> 
			<p><a href="http://en.wikipedia.org/wiki/Massive_open_online_course">MOOC</a>
      stands for Massive Open Online Course. MOOC revolutionizes how the
      education system is going to be in the near future. MOOC provides a
      platform to enable a kind of  distance education. <br />
    </p>
    <p>Just imagine - the best professors from the best universities (read MIT,
      Princeton, Cambridge etc) can teach full time courses on the Internet -
      <b>completely free</b>.  A course taught at classroom can accommodate say max of
      400 students - but the same course when taught online  can accommodate -
      literally millions and not just students but anybody having access to
      Internet.<br />
    </p>
    <p>I was literally blown away after watching a TED video by <a href="http://www.ted.com/speakers/daphne_koller.html">Daphne
        Koller </a> on <a href="http://www.ted.com/talks/daphne_koller_what_we_re_learning_from_online_education.html">What we're learning from online education</a>? </p>
    <p>Daphne a PhD by qualification, a Standord professor by occupation - is on a noble endeavor of
      bringing the college experience to the doorstep for anyone which is
      interested in learning through her startup - <strong><a href="https://www.coursera.org/">Coursera</a></strong>.<br />
    </p>
    <p>To give the <u>best </u>education from the <u>best </u>instructors
      from the <u>best </u>universities for <u><strong>free</strong></u><strong>
      </strong>- this is a in a nutshell is the mantra of <a href="https://www.coursera.org">Coursera.org
        <br /></a></p>
    <p>There are already many quality learning content available online as part
      of Youtube, iTunes universities, books etc - but what's missing is an "<strong>education
        platform</strong>".  Top schools and universities have been putting content on Youtbue  - but
      where is the <strong>impact</strong>. At best you can view these videos
      at leisure, but there is no <strong>"feedback"</strong>, no mechanism to
      track "<strong>progress</strong>", no "<strong>tests</strong>", no "<strong>grading", </strong>
      no "<strong>collaboration</strong>" etc </p>
    <strong>Coursera's</strong> platform bridges this gap and supports the other
    vital aspect of the classroom:<strong> tests and assignments that reinforce
      learning</strong>.<br />
    <br />
    Moreover the quality of content on Coursera is extremely high.  This I am
    speaking from experience.  Just look at the kind of courses offered. I have
    listed some of them below:<br />
    <br />
    <ul>
      <li><a href="https://www.coursera.org/course/saas">Software Engineering
          for SaaS</a> by University of California, Berkeley. (using tech tools
        like RoR, Git, HTML5, CSS3, Rspec, Cucumber, Agile etc)</li>
      <li><a href="https://www.coursera.org/course/algs4partI">Algorithms  </a>by
        Princeton University</li>
      <li><a href="https://www.coursera.org/course/maththink">Introduction to
          Mathematical Thinking </a> by Standford University</li>
      <li><a href="https://www.coursera.org/course/datasci">Introduction to Data
          Science </a>by University of Washington </li>
      <li><a href="https://www.coursera.org/course/machlearning">Machine
          Learning</a> by University of Washington <br />
      </li>
      <li><a href="https://www.coursera.org/course/progfun">Functional
          Programming in Scala</a> by Martin Odersky</li>
      <li>etc etc<br />
      </li>
    </ul>
    The last one is by Martin Odersky, best guy in the world to teach Scala and
    basics of Functional programming. <br />
    <br />
    I have just listed some of the courses related to Software, but there are
    many course spanning all fields of educations be it healthcare,  security, 
    science, games, philosophy etc.<br />
    <br />
    Thank you Daphne for the great work.<br />
    I have already joined couple of them - and I'm enjoying them.
    <br />
    <b> What course are you joining? </b>
    <p>
      <meta charset="utf-8" />
    </p>
		</p>
	</div>
</div> 

<div class="row">
	<div class="span3 columns">&nbsp;</div>
	<div class="span9 column">
			<p class="pull-right">{% if page.previous.url %} <a href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}"><i class="icon-chevron-left"></i></a> 	{% endif %}   {% if page.next.url %} 	<a href="{{page.next.url}}" title="Next Post: {{page.next.title}}"><i class="icon-chevron-right"></i></a> 	{% endif %} </p>  
	</div>
</div>

<div class="row">
	<div class="span3 columns">&nbsp;</div>
    <div class="span9 columns">    
		<h2>Comments Section</h2>
	    <p>Feel free to comment on the post but keep it clean and on topic.</p>	
		<div id="disqus_thread"></div>
		<!-- Put this just before the closing body tag of your web page -->
		<script type="text/javascript">
				/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
				var disqus_shortname = 'basav'; // required: replace example with your forum shortname
		        var disqus_identifier = '{{ page.url }}';
				var disqus_url = 'http://basav.github.com{{ page.url }}';
				/* * * DON'T EDIT BELOW THIS LINE * * */
				(function() {
				var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
				dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
				(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			})();
			</script>
		<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
	</div>
</div>

<!-- Twitter -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<!-- Google + -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
