---
layout: post
title: 
category: personal
tags: personal
year: 
month: 
day: 
published: true
summary: Short retrospective of 2012 and looking forward for 2013
---
<div class="row">
	<div class="span3 columns well">
	  <h3>About this topic</h3>
	  <p>How was 2012? What plans for 2013?</p>	  
	  <br/>
	  <h3>Topic buzz</h3>
	  <p>What others are thinking. Add to the conversation and generate some chatter.</p>
	  <p><a href="https://twitter.com/share" class="twitter-share-button" data-via="basav">Tweet</a></p>
	  <p><g:plusone size="medium"></g:plusone></p>
	  <br/>
	  <h3>Read later</h3>
	  <p>Save this article for a later read or point of reference. <a href="http://www.instapaper.com/hello2?url=http://basav.github.com{{ page.url }}&title={{ page.title }}" title="Save {{ page.title }} to Instapaper" target="_blank">+Instapaper</a> </p>
	  <br/>  
	</div>	
	<div class="span8 columns">
	 	<p> 
			Life has been busy from past couple of months because of back-2-back two intensive projects. This blog update has been due for quite some time. Here it comes.
			</p>
			<p>
2012 has been a good year to me - <b>professionally</b> - although it started with a bad note. My last New Year Eve was in hospital. My wife got operated and her Gall Bladder was removed. We still don't know what actually was wrong with her Gall bladder. All good now. 
</p>
			<p>
				 <hr>
				<h3>Some Good parts of 2012</h3>
				 <hr>
<h4>Professional</h4>
<ol>
  <li>I switched jobs. Joined an awesome organization after a decade+ long career in large services industry. Change happens for good. </li>
  <li>Delivered few Good projects spanning mulitiple areas of technologies Java, Javascript (Angular, jQuery), Play Framework, a bit of Scala, a bit of Gradle, Phone-Gap, HTML 5. </li>
  <li>Spoke at a large <a href="http://www.siliconindia.com/news/technology/Exciting-Trends-and-Tech-Empowering-Java-at-Java-Conference-2012-Bangalore-nid-136081-cid-2.html/1"> Java Conference </a>. Good Experience. Networking helps. </li>
  <li>Moved this blog to Jenkins/Git.  </li>
  <li>Started with <a href="http://basav.github.com/blog/Functional_Programming_SICP_Clojure">SICP</a> course. The book is just amazing. Sticking and being regular is the problem. </li>
  <li>Started with Clojure - which goes hand in hand with SICP</li>
  <li>Started with couple of <a href="https://www.coursera.org/">Coursera</a> courses - but paused now. </li>
</ol>
<h4>On personal front</h4>
<ol>
	<li>Bought a new Honday City SMT - <a href="/img/IMG-20121027-00103.jpg"> Red color </a> - it just flies </li>
	<li>Got my son admitted to a Good <a href="http://www.newhorizonvidyamandir.in/"> school</a>. Culture + Values </li>
	<li>Had a good <a href="http://www.confident-group.com/amoon/index.html"> vacation </a> at the end of the year. Wife is happy - thats what matters </li>
	<li>Good quality time with Family - since I work from home.</li>
</ol>
<h5>Read few good books </h5>
<ul>
	<li> <a href="http://shop.oreilly.com/product/0636920013754.do"> Clojure Programming</a> (Still reading :) )</li>
	<li> <a href="http://www.manning.com/evans/">Well grounded Java developer </a> </li>
	<li> <a href="http://www.amazon.com/Chanakyas-Chant-Ashwin-Sanghi/dp/9380658672"> Chanakya's Chant</a></li>
	<li> <a href="http://en.wikipedia.org/wiki/The_Immortals_of_Meluha"> The Immortals of Meluha</a></li>
	<li> <a href="http://www.flipkart.com/iima-day-day-economics/p/itmdaty6fb7nfwfa"> IIMA-Day to Day Economics</a></li>
	 etc
</ul>
 <hr>
				<h3>Some not so good parts of 2012 </h3>
				 <hr>

<p>My right eye problem (seems to be choroiditis) has come back after couple of years. Hoping that 2013 will put an end to this issue. Have been on steorids.</p>
		</p>
		<p>
			That wraps up 2012. Thats what I remember (the ones which I dont are probably not that significant )
 </p>
	  <hr>
		  <h2>Some plans for 2013</h2>
	  <hr>
		<p>Coming to the plans for 2013, they say A picture is worth 1000 words; so I have come up with a tech radar for the 2013 (the highlight of this blog entry ;) ).</p>
		<hr>
	<div id="radar">{% include radar-svg.html %}</div>
	<hr>
	<p> Above is the Thoughtworks style of radar of my focus areas for 2013. This <a href="https://github.com/basav/techradar">radar</a> is in Git and probably it might change few times before the end of year :). But the good thing is that - the chagnes will be tracked. 
	</p><p>
	 Note about above radar: I forked a repository of user <a href="https://github.com/bdargan/techradar">bdargan</a>. He had created a tech radar inspired by TW radar for specific company's or clients. I customized the same for my personal use. In the due course - I learnt a bit about D3.js, <a href="http://en.wikipedia.org/wiki/Polar_coordinates">Polar Co-ordinates</a> and <a href="http://www.mathsisfun.com/polar-cartesian-coordinates.html">cartesian co-ordinates</a> and more Javascript :). 
	Please feel to use it. The Githud repo is <a href="https://github.com/basav/techradar">here</a>.
	</p>
	Until next time..
	<hr>
</div> 
</div>
<div class="row">
	<div class="span3 columns">&nbsp;</div>
	<div class="span9 column">
			<p class="pull-right">{% if page.previous.url %} <a href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}"><i class="icon-chevron-left"></i></a> 	{% endif %}   {% if page.next.url %} 	<a href="{{page.next.url}}" title="Next Post: {{page.next.title}}"><i class="icon-chevron-right"></i></a> 	{% endif %} </p>  
	</div>
</div>

<div class="row">
	<div class="span3 columns">&nbsp;</div>
    <div class="span9 columns">    
		<h2>Comments Section</h2>
	    <p>Feel free to comment on the post but keep it clean and on topic.</p>	
		<div id="disqus_thread"></div>
		<!-- Put this just before the closing body tag of your web page -->
		<script type="text/javascript">
				/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
				var disqus_shortname = 'basav'; // required: replace example with your forum shortname
		        var disqus_identifier = '{{ page.url }}';
				var disqus_url = 'http://basav.github.com{{ page.url }}';
				/* * * DON'T EDIT BELOW THIS LINE * * */
				(function() {
				var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
				dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
				(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			})();
			</script>
		<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
	</div>
</div>

<!-- Twitter -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<!-- Google + -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
